@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
    box-shadow: var(--boxEdges);
    font-family: Poppins, sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;
}
h1, h2, p {
    color: white;
}