/* ###################### */
/* # Generic Nav Styles # */
/* ###################### */

/* Nav container (invisible) */
#nav-container {
    position: absolute;
    width: 100vw;
    height: auto;
    z-index: 10;
    top: 0;
    left: 0;
}
/* List item container */
#nav-container ul {
    width: 100vw;
    margin: 0;
    padding: 0 40px 0 20px;
}
/* Nav logo LI styling */
#nav-logo a {
    display: block;
    width: 150px;
    height: var(--navHeight);
    padding: 12px 0 12px 0;
}
#nav-logo img {
    height: 100%;
}


/* ####################### */
/* # Desktop Nav styling # */
/* ####################### */

/* Generic nav item styling */
.nav-left {
    overflow: hidden;
}
.nav-right {
    float: right;
}
/* List item */
#nav-container li {
    width: auto;
    height: var(--navHeight);
    display: block;
    border-bottom: solid;
    border-bottom-color: white;
}
/* Link anchor */
#nav-container li.nav-right a {
    display: block;
    width: 100px;
    height: var(--navHeight);
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: white;
}
/* Current page styling */
#nav-container li.current-page, #nav-container li.current-page a {
    color: #0085CF;
    border-bottom-color: #0085CF;
}
/* Hover styling */
#nav-container li:hover a {
    font-weight: bold;
}
/* Hide normal buttons in mobile and adjust width  */
@media (max-width: 600px) {
    #nav-container li.nav-right {
        display: none;
    }
    #nav-container ul {
        padding: 0 10px 0 10px;
    }
}


/* ####################### */
/* # Mobile Nav styling # */
/* ####################### */

/* Toggle button */
#menu-button {
    display: none;
    float: right;
    position: absolute;
    top: 4px;
    right: 10px;
    width: 40px;
    cursor: pointer;
} 
#menu-button:before,
#menu-button:after,
#menu-button div {
    background: #fff;
    content: "";
    display: block;
    height: 6px;
    border-radius: 3px;
    margin: 7px 0;
    transition: 0.5s;
} 
#menu-button.menu-open:before {
    transform: translateY(12px) rotate(135deg);
}
#menu-button.menu-open:after {
    transform: translateY(-12px) rotate(-135deg);
}
#menu-button.menu-open div {
    transform: scale(0);
}

/* Mobile nav container */
#mobile-nav-container {
    display: none;
    position: absolute;
    width: 100vw;
    max-height: 1px;
    padding: 0 10px 0 10px;
    z-index: 9;
    top: 0;
    left: 0;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
}
/* Nav settings when expanded */
#mobile-nav-container.expand-menu {
    max-height: 470px;
    background-color: rgba(0, 0, 0, 0.8);
}
/* Menu items container */
#mobile-nav-container ul {
    display: flex;
    width: 100%;
    height: 400px;
    margin: var(--navHeight) 0 0 0;
    padding: 2.4px 0 0 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: solid;
    border-bottom-color: white;
}
/* List item */
#mobile-nav-container li {
    display: block;
    width: auto;
    height: var(--navHeight);
    margin: 20px 0 20px 0;
    border-bottom: solid;
    border-bottom-color: rgba(0, 0, 0, 0);
}
#mobile-nav-container li:last-child {
    margin: 20px 0 40px 0;
}
/* Link anchor */
#mobile-nav-container a {
    display: block;
    width: 100px;
    height: var(--navHeight);
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: white;
}
/* Current page recolour */
#mobile-nav-container li.current-page, #mobile-nav-container li.current-page a {
    color: #0085CF;
    border-bottom-color: #0085CF;
}

@media (max-width: 600px) {
    #mobile-nav-container, #menu-button {
        display: block;
    }
}