:root {
    /* Colours */
    --specialSalmon: #FF8787;

    /* Parallax sizing */
    --desktopHeight: 125vh;
    --tabletHeight: 75vh;
    --mobileHeight: 65vh;

    /* Misc values */
    --navHeight: 55px;
    --tempInvis: 1;
    /* --boxEdges: 0 0 1px yellow; */
}